.Header {
  position: relative;
  min-height: 80px;
  padding: 10px 20px;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LogoContainer {
  overflow: hidden;
}

.Logo {
  width: 150px;
  height: 100%;
}

.SearchContainer {
  color: #fff;
}

.NavContainer {
  color: #fff;
}
