.Header {
  width: 100%;
}

.HeaderContainer {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LogoContainer {
  overflow: hidden;
}

.Logo {
  width: 200px;
}

.SearchContainer {
  color: #fff;
}

.NavContainer {
  color: #fff;
}
